/* header */
header{
    position: absolute;
    width: 100%;
    z-index: 9999;
}
.container .navbar a.my-logo{
    font-weight: 100;
    font-size: 30px;
    color: #00e0d0;
}
.container .navbar a.my-nav-link{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}
.container .navbar .my-active-link a{
    color: #00e0d0;
}

/* caurusel */
.my-carousel-item{
    height: 100vh;
}
.carousel-indicators .my-indicator{
    background-color: transparent;
    height: 10px;
    width: 10px;
    border: solid 1px white;
    border-radius: 50%;
}
.carousel-indicators .active{
   background-color: #00e0d0;
   border: solid 1px #00e0d0;
}
.my-carousel-caption{
    top:50%;
    transform: translateY(-50%);
    padding: 0 100px;
}
.my-carousel-caption h2{
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 25px;
    font-size: 32px;
}
.my-carousel-caption h2::after{
    content: '';
    display: block;
    width: 50px;
    height: 1px;
    background-color: #00e0d0;
    margin: 25px auto 0 auto;
}
.my-carousel-caption p{
    padding: 25px;
    font-size: 14px;
}
a.a-learn-more{
    display: inline-block;
    border: solid 2px #00e0d0;
    border-radius: 4px;
    color: #00e0d0;
    text-transform: uppercase;
    padding: 10px 15px;
    font-size: 16px;
    margin-top: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all .3s;
}
a.a-learn-more:hover{
    text-decoration: none;
    background-color: #00e0d0;
    color: white;
}

/* our story */
.our-story{
    background-color: white;

}
.my-row-story{
    margin: 70px 0;
}
.our-story .our-story-description h3{
    font-size: 22px;
    text-transform: uppercase;
}
.our-story .our-story-description p{
    white-space: pre-line;
    font-size: 14px;
}


/* video */
section.video{
    background-image: url(../images/video-bg.png);
}
section.video .wrapper-video{
     margin: 200px 0;
}
.wrapper-video p{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    margin-top: 30px;
}

/* expertise */
section.expertise{
    background-color: white;
    padding-top: 65px;
    padding-bottom: 70px;
}
.expertise-row{
    margin-top: 50px;
}
.expertise h2{
    font-size: 22px;
    text-transform: uppercase;
}
.expertise p{
    font-size: 14px;
    color: #666666;
}
.expertise > p::after{
    content: '';
    width: 55px;
    height: 2px;
    background-color: #c6c4c9;
    display: block;
    margin: 20px auto 50px auto;
}
.expertise-block{
    border-right: solid 1px #ebebeb;
    border-bottom: solid 1px #ebebeb;
    box-sizing: border-box;
}
.expertise-block .img{
    margin-top: 30px;
}
.expertise-block h3{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 25px 0;
}
.expertise-block p{
    font-size: 14px;
    color: #666666;
    margin-bottom: 40px;
}

/* team */
section.our-team{
    padding: 70px 0;
    background-image: url(../images/team-bg.png);
    background-size: cover;
    background-position: center;
}
section.our-team >h2{
    text-transform: uppercase;
    color: white;
    font-size: 22px;
}
section.our-team >p{
    margin-top: 15px;
    font-size: 14px;
    color: #f9f9f9;
}
section.our-team >p:first-of-type::after{
    content: '';
    width: 55px;
    height: 2px;
    background-color: #c6c4c9;
    display: block;
    margin: 20px auto 50px auto;
}
.person{
    border: solid 1px #7a758e; 
    height: 100%;
}
.wrapper-person .img img{
    width: 100%;
    height: 100%;
}
.wrapper-person .name{
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 0;
}
.wrapper-person .job{
    font-size: 14px;
    color: #b3b0bf;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px;
}
.our-team .bottom-p{
    margin-top: 70px;
    font-size: 14px;
    color: white;
}







