header{
    position: absolute;
    width: 100%;
    z-index: 9999;
}
.container .navbar a.my-logo{
    font-weight: 100;
    font-size: 30px;
    color: #00e0d0;
}
.container .navbar a.my-nav-link{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}
.container .navbar .my-active-link a{
    color: #00e0d0;
}
.section-caurusel{
    height: 100vh;
}
#carouselExampleIndicators{
    height: 100vh;
}






footer{
    height: 1000px;
}